{% extends "base.html" %}

{% block title %}Tjhin Media Server{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

<h1>Welcome to Tjhin's Media Server</h1>

<!-- Implement a carousel -->
<img src="{{ url_for('media.get_poster', filename='Conclave.webp') }}">


<div class="login" id="login">
    <a href="{{ url_for('auth.login') }}">Log In</a>
</div>

<div class="login" id="logout">
    <a href="{{ url_for('auth.logout') }}">Log Out</a>
</div>

<div class="movie">
    <a href="{{ url_for('movies.home') }}">Movies</a>
</div>

{% endblock %}

{% block after %}
<script>

</script>
{% endblock %}