<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tjhin's Media Server</title>
</head>
<body>
    <h1>Welcome to Tjhin's Media Server</h1>

    <div class="login">
        <a href="{{ url_for('auth.login') }}">Log In</a>
    </div>

    <div class="login">
        <a href="{{ url_for('auth.logout') }}">Log Out</a>
    </div>

    <div class="movie">
        <a href="{{ url_for('movies.home') }}">Movies</a>
    </div>
</body>
</html>