<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='movies/home.css') }}">
</head>
<body>
    <div class="gallery-container">
        {# navigation header will be here #}
        <div class="breadcrumbs">
            <a href="{{ url_for('admin.home') }}">Home (Admin)</a> > <span>Movies</span>
        </div>

        {# title of the page #}
        <h1 class="gallery-title">Downloaded Movies!</h1>

        {# shows the gallery of movies #}
        <div class="movie-list">

            {% for movie in movies %}
            {# the individual movie #}
            <div class="movie-card" id="{{ movie.name }}">
                <a href="#">
                    <img class="movie-poster" 
                         src="{{ url_for('static', filename='posters/' + movie.name + '.webp') }}"
                         alt="{{ movie.name }}"
                         loading="lazy">
                    <div class="movie-title-overlay">
                        <h3 class="movie-name">{{ movie.name }}</h3>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>

    {# info for each movie #}
    {% for movie in movies %}
    <div class="tooltip" id="{{ movie.name }}-tooltip">
        <h1>{{ movie.name }}</h1>
        <h2>{{ movie.release_date }}</h2>
        <p>{{ movie.description }}</p>
        <p>
            IMDb: {{ movie.imdb_rating }}/10; 
            Rotten Tomatoes: {{ movie.rotten_tomatoes_rating }}/100; 
            Metacritic: {{ movie.metacritic_rating }}/100
        </p>
        <p>Genre(s): {{ movie.genres }}</p>
    </div>
    {% endfor %}

    {# for tool tip #}
    <script>
        document.querySelectorAll(".movie-card").forEach(movieCard => {
            movieCard.addEventListener('mouseenter', (e) => {
                const tooltip = document.getElementById(movieCard.id + '-tooltip');
                tooltip.classList.add('show');
            });
        });

        document.querySelectorAll(".movie-card").forEach(movieCard => {
            movieCard.addEventListener('mouseleave', () => {
                const tooltip = document.getElementById(movieCard.id + '-tooltip');
                tooltip.classList.remove('show');
            });
        });
    </script>
</body>
</html>