{% extends "admin/base.html" %}

{% block title %}Admin Movies Dashboard{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block content %}
<svg xmlns="http://www.w3.org/2000/svg" class="d-none">
    <symbol id="search" viewBox="0 0 16 16">
        <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z">
        </path>
    </symbol>
    <symbol id="delete" viewBox="0 0 16 16">
        <path
            d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5">
        </path>
    </symbol>
    <symbol id="edit" viewBox="0 0 16 16">
        <path
            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
        <path fill-rule="evenodd"
            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z" />
    </symbol>
</svg>

<!-- Modal to add a new movie -->
<form method="post" action="{{ url_for('admin.add_movie') }}">
    <div class="modal fade" id="addNewMovie" tabindex="-1" aria-labelledby="addNewMovieLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="addnewMovieLabel">Add a New Movie</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <!-- CSRF token for safe post -->
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

                    <div class="row mb-3">
                        <label for="movieName" class="col-3 col-form-label">Movie Name</label>
                        <div class="col-9">
                            <input name="movieName" type="text" id="movieName" class="form-control"
                                placeholder="Movie Name" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="movieDescription" class="col-3 col-form-label">Description</label>
                        <div class="col-9">
                            <textarea name="movieDescription" maxlength="1000" id="movieDescription"
                                placeholder="Enter Description (Max 1000 characters)" class="form-control" rows="5"
                                required></textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="datepicker" class="col-3 col-form-label">Release Date</label>
                        <div class="col-9">
                            <input name="releaseDate" type="text" id="datepicker" placeholder="Select date"
                                class="form-control" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="mediaLocation" class="col-3 col-form-label">Media Location</label>
                        <div class="col-9">
                            <input name="mediaLocation" type="text" id="mediaLocation"
                                placeholder="e.g. ~/vids/Movie.mp4" class="form-control" required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="posterLocation" class="col-3 col-form-label">Poster Location</label>
                        <div class="col-9">
                            <input name="posterLocation" type="text" id="posterLocation"
                                placeholder="e.g. ~/posters/moviePoster.png" class="form-control" required>
                        </div>
                    </div>

                    <!-- Different ratings of the movie: IMDb, Rotten Tomatoes and Metacritic -->
                    <div class="row mb-3 align-items-center">
                        <label for="imdbRating" class="col-3 col-form-label">IMDb Rating</label>
                        <div class="col-2">
                            <input name="imdbRating" type="text" id="imdbRating" placeholder="e.g. 7.9"
                                class="form-control" aria-describedby="imdbRatingHelpInline">
                        </div>
                        <div class="col-7">
                            <span id="imdbRatingHelpInline" class="form-text">
                                A single decimal input between 0 to 10
                            </span>
                        </div>
                    </div>
                    <div class="row mb-3 align-items-center">
                        <label for="rottenTomatoesRating" class="col-3 col-form-label">Rotten Tomatoes Rating</label>
                        <div class="col-2">
                            <input name="rottenTomatoesRating" type="number" id="rottenTomatoesRating" min="0" max="100"
                                placeholder="e.g. 79" class="form-control" aria-describedby="rottenTomatoesHelpInline">
                        </div>
                        <div class="col-7">
                            <span id="rottenTomatoesHelpInline" class="form-text">
                                A number between 0 to 100
                            </span>
                        </div>
                    </div>
                    <div class="row mb-3 align-items-center">
                        <label for="metacriticRating" class="col-3 col-form-label">Metacritic Rating</label>
                        <div class="col-2">
                            <input name="metacriticRating" type="number" id="metacriticRating" min="0" max="100"
                                placeholder="e.g. 79" class="form-control" aria-describedby="metacriticHelpInline">
                        </div>
                        <div class="col-7">
                            <span id="metacriticHelpInline" class="form-text">
                                A number between 0 to 100
                            </span>
                        </div>
                    </div>

                    <!-- Genres of the movie -->
                    <div class="mb-3 col-form-label">Genre(s)</div>
                    <div class="row row-cols-3 mb-3">
                        {% for genre in genres %}
                        <div class="col">
                            <div class="input-group mb-3">
                                <div class="input-group-text">
                                    <input name="{{ genre.id }}" type="checkbox" id="{{ genre.id }}"
                                        value="{{ genre.name }}" class="form-check-input mt-0"
                                        aria-label="Checkbox for genre {{ genre.name }}">
                                </div>
                                <label for="{{ genre.id }}" class="form-control"
                                    aria-label="Text label for checkbox of genre {{ genre.name }}">{{ genre.name
                                    }}</label>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-success">+ Add a New Movie</button>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="p-4 mx-5">
    <h1>List of Movies</h1>
</div>

<!-- The controls, such as searching and adding a new movie -->
<!-- TODO: search by filter (genres, sort by, etc.) -->
<div class="p-4 mx-5 d-flex align-items-center">
    <form method="get" class="w-50 d-flex" role="search">
        <input name="search" type="search" class="form-control me-3" placeholder="Search movies..."
            aria-label="Search movies">
        <button class="btn btn-outline-secondary me-3" type="submit">
            <svg class="bi" width="20" height="20">
                <use href="#search"></use>
            </svg>
        </button>
    </form>
    <button type="button" class="btn btn-success me-3" data-bs-toggle="modal" data-bs-target="#addNewMovie">
        + Add a New Movie
    </button>
</div>

<!-- A list of the movie details (not all information is presented) -->
<div class="p-4 mx-5">
    <table class="table table-hover w-100">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th class="w-20" scope="col">Description</th>
                <th scope="col">IMDb Rating</th>
                <th scope="col">RT Rating</th>
                <th scope="col">Metacritic Rating</th>
                <th scope="col">Release Date</th>
                <th scope="col">Media Location</th>
                <th scope="col">Duration</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for movie in movies %}
            <tr>
                <td>{{ movie.name }}</td>
                <td>{{ movie.description }}</td>
                <td>{{ movie.imdb_rating }}</td>
                <td>{{ movie.rotten_tomatoes_rating }}</td>
                <td>{{ movie.metacritic_rating }}</td>
                <td>{{ movie.release_date }}</td>
                <td>{{ movie.media_location }}</td>
                <td>{{ movie.duration }}</td>
                <td>
                    <button type="button" class="btn btn-outline-warning">
                        <svg class="bi" width="16" height="16">
                            <use href="#edit"></use>
                        </svg>
                    </button>
                </td>
                <td>
                    <button type="button" class="btn btn-outline-danger">
                        <svg class="bi" width="16" height="16">
                            <use href="#delete"></use>
                        </svg>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/flatpickr/4.6.13/flatpickr.min.js"></script>
<script>
    // for inputing the release date
    flatpickr("#datepicker", {
        dateFormat: "Y-m-d",
    });
</script>
{% endblock %}